body {
    background-size: cover;
}

#header h3{
display: inline-block;
}

#header{
    width: 100%;
}

#header button{
    float: right;
}

#credit{
    bottom:0;
    background-color:chocolate;
    color: whitesmoke;
    position: sticky;
    line-height: 2;
    width: 100%;
}